* {
    margin: 0;
    padding: 0;

}


header {
    background-color: rgb(207, 207, 207);

}

.menu {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;

}

li>a {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
}

a:hover {
    color: #c78c19;
    text-decoration: underline;
}



section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

section>div {
    border: 2px solid black;
    border-radius: 10px;
    width: 320px;
    height: 420px;
    margin-right: 50px;
    text-align: center;
    transition: all 0.1s linear;
}

section>div:hover {
    border: 1px solid #c78c19;
    transform: scale(1.05);
}

div>h2 {
    margin-top: 20px;
    font-size: 2.3em;
}

strong {
    margin-top: 10px;
    font-size: 25px;
}

.preco {
    margin-top: 15px;
}

footer {
    margin-top: 50px;
    font-size: 26px;
    color: white;
    height: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media(max-width:1050px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    section>div {
        margin-bottom: 20px;
    }

}

@media(max-width:500px) {
    li>a {

        padding: 7px;
        font-size: 18px;
    }

    h1>img {

        width: 100px;
    }

    section>div {
        margin-right: 0;
    }
}